body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('img/Background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}
header {
    padding: 2em;
    text-align: center;
}

.header-content {
    max-width: 1200px;
    margin: 0 auto;
}

.home-content {
    margin: 0 auto;
    text-align: center;
    font-size: 50px;
    line-height: 1.8;
}

h1 {
    margin: 0;
}

.auto-type {
    color: #ffcc00;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin: 0 1em;
    font-size: 1.5em;
    transition: color 0.3s;
}

nav a:hover {
    color: #ffcc00;
}

.Highlight {
    background: left / 0% 100% no-repeat linear-gradient(#e6d7ff, #e6d7ff);
    transition: background-size 200ms;
}

.Highlight:hover {
    background: left / 0% 100% no-repeat linear-gradient(#e6d7ff, #e6d7ff);
    transition: 0.6s;
}

.section {
    padding: 2em 0;
    flex: 1;
}

.section h2 {
    color: #ffcc00;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    font-size: larger;
    line-height: 1.8;
}

.about-content,
.projects-content,
.contact-content {
    max-width: 800px;
    margin: 0 auto;
    font-size: larger;
    line-height: 1.8;
}

.about-content {
    max-width: 800px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    font-size: larger;
    line-height: 1.8;
}
@media screen and (max-width: 768px) {
    .flex-container {
        flex-direction: column-reverse;
        align-items: center;
    }

    .image {
        flex: 0;
        margin-bottom: 20px;
    }

    .image img {
        width: 100%;
        height: auto;
        max-width: 100%;
        border-radius: 20px;
    }

    .about-content {
        max-width: 100%;
        padding: 0 20px;
    }
}
b {
    color: #ffcc00;
}

.para span {
    display: block;
    opacity: 0;
    animation: reveal 2s forwards var(--delay);
    font-size: 20px;
}
.para1 span {
    display: block;
    opacity: 0;
    font-size: 20px;
    transition: opacity 3s;
}

.para1 span.animate {
    opacity: 1;
}

@keyframes reveal {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.decode .para2 span {
    display: block;
    opacity: 0;
    font-size: 20px;
    transition: opacity 3s;
}

.decode .para2 span.animate {
    opacity: 1;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.image {
    position: relative;
    flex: 1;
}

.image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
    z-index: 1;
}

.image img {
    height: 100%;
    width: 80%;
    object-fit: cover; 
    border-radius: 30px;
}


a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #ffcc00;
    text-decoration: none;
}

a:active {
    color: black;
    text-decoration: none;
}

.table-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.modern-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    margin: 0 0 50px;
    text-align: left;
}

.modern-table caption {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.modern-table thead th,
.modern-table tbody td {
    padding: 15px;
    text-align: center;
    border: 1px solid;
}

tr {
    transition: all 0.2s ease-in;
    cursor: pointer;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid;
}

tr:hover {
    /* background-color: ; */
    transform: scale(1.02);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 768px) {
    table {
        width: 90%;
    }
}
.webture,
.decode {
    text-align: center;
    margin-top: 20px; 
}

.webture img,
.decode img,
.iot img  {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}
.iot {
    text-align: center;
    margin-top: 20px;
}
.ecobin img {
    max-width: 100%;
    height: auto;
    border-radius: 20px; 
}

.ecobin img:nth-child(2) {
    max-width: 70%; 
    margin-top: 10px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.abet img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

.abet img:nth-child(2) {
    max-width: 70%;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.conclave img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

.image-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.iot img {
    margin-right: 10px; 
}
.iot img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

.iot img:nth-child(2) {
    max-height: 800px; 
}
.sensors img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

.sensors .image-container {
    max-width: 70%;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.sensors img:nth-child(2) {
    max-width: 70%; 
    margin-top: 10px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.sensors .image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}
.award img:first-child {
    max-width: 60%; 
    height: auto;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
}

.award img:nth-child(2) {
    max-width: 70%;
    margin-top: 10px;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.award .image-container {
    max-width: 70%;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.award .image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

.codeclause {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    margin-top: 20px; /* Add margin for spacing */
}

.codeclause img {
    width: 70%; /* Adjust the width as needed */
    max-width: 100%; /* Ensure images don't exceed their container */
    height: auto;
    border-radius: 20px;
    margin-bottom: 10px; /* Add margin between images */
}
.bharat img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}
.iv img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

.iv .image-container {
    max-width: 70%;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.iv img:nth-child(2) {
    max-width: 70%; 
    margin-top: 10px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.iv .image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}
.para1 span,
.para2 span,
.para3 span,
.para4 span,
.para5 span,
.para6 span {
    display: block;
    opacity: 1; 
    font-size: 20px;
}

.decode .para2 span.animate,
.ecobin .para4 span.animate {
    opacity: 1;
    animation: reveal 2s forwards var(--delay);
}

@keyframes reveal {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.iot .para3 span,
.para4 span,
.abet .para5 span {
    display: block;
    opacity: 0;
    font-size: 20px;
    transition: opacity 3s;
}
.decode .para2 span {
    display: block;
    opacity: 1; 
    font-size: 20px;

}
.iot .para3 span.animate,
.para4 span.animate,
.decode .para5 span.animate {
    opacity: 1;
}
.iot .para3 span.animate {
    opacity: 1;
}
.para4 span  {
    display: block;
    opacity: 1;
    font-size: 20px;
    transition: opacity 3s;
}

.para4 span.animate {
    opacity: 1;
}
.abet .para5 span {
    display: block;
    opacity: 0;
    font-size: 20px;
    transition: opacity 3s;
}

.abet .para5 span.animate {
    opacity: 1;
}

.section h2 {
    color: #ffcc00;
    
}
.home-content h2{
    color: #fff;
}
.social-links {
    list-style: none;
    padding: 0;
    text-align: center;
}

.social-links li {
    display: inline-block;
    margin-right: 10px;
}

.social-links a {
    text-decoration: none;
    color: #333;
    background-color: #fff;
    padding: 0.5em;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.social-links .phone a:hover {
    background-color: #92C7CF;
}
.social-links .linkedin a:hover{
    background-color: #0077b5;
    color: white;
}
.social-links .github a:hover{
    background-color: black;
    color: white;
}
.social-links li a[href^="mailto"]:hover {
    background: linear-gradient(45deg, #3e65cf,#c71610, #f2a60c, #08851b);
    color: #fff; /* Change text color to white or your preference */
    transition: background 0.3s, color 0.3s;
}
@media screen and (max-width: 600px) {
    nav ul {
        flex-direction: column;
    }

    nav a {
        margin: 0.5em 0;
    }

    .modern-table caption {
        font-size: 1em; 
    }

    .modern-table thead th,
    .modern-table tbody td {
        padding: 10px; 
        font-size: 0.9em; 
    }

    .table-container {
        padding: 10px; 
    }
}
.quote {
    text-align: center;
    padding: 20px;
}

.typed-quote {
    font-size: 50px; /* Adjust the font size as needed */
    margin: 0;
}
.quote-section {
    text-align: center;
    padding: 20px;
    margin-bottom: 20px; /* Add margin at the bottom */
}
.para1, .para2, .para3, .para4, .para5, .para6, .para7, .para8, .para9, .para10, .para11 {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 2s ease, transform 2s ease;
}

.para1.animate, .para2.animate, .para3.animate, .para4.animate, .para5.animate, .para6.animate, .para7.animate, .para8.animate, .para9.animate, .para10.animate, .para11.animate {
    opacity: 1;
    transform: translateY(0);
}

.contact-content {
    max-width: 800px;
    margin: 100px auto; /* Add margin at the top */
    font-size: larger;
    line-height: 1.8;
}

/* Media Query for small screens */
@media screen and (max-width: 600px) {
    .footer-container {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1000;
    }
}

.para1 span {
    --delay: 0s;
    display: block;
    opacity: 0;
    animation: reveal 2s forwards var(--delay);
    font-size: 20px;
}


footer {
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1em 0;
    text-align: center;
    color: #fff;
    margin-top: auto;
    /* flex-shrink: 0; Do not shrink the footer */
}

/* Media Query for small screens */
@media screen and (max-width: 600px) {
    .footer-container {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1000; /* Ensure the footer is above other content */
    }
}
/* Scroll to top button styling */
.scroll-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.scroll-top-btn.visible {
    opacity: 1;
    visibility: visible;
}

/* Media Query for small screens */
@media screen and (max-width: 600px) {
    .scroll-top-btn {
        bottom: 10px;
        right: 10px;
    }
}
